<html>

<head>
  <meta charset="UTF-8">
  <script language="javascript" type="text/javascript" src="../libraries/p5.js"></script>
  <script language="javascript" src="../libraries/p5.dom.js"></script>
  <script language="javascript" src="../libraries/p5.sound.js"></script>
  <!-- <script language="javascript" type="text/javascript" src="../sketch.js"></script> -->

  <title>Apple Clicking Game</title>
  <link rel="icon" type="image/png" href="https://raw.githubusercontent.com/clickersanonymousCU/clickersanonymousCU.github.io/master/graphics/Apple2.5_800.png">
  <style>
    body {
      text-align: center;
      font-family: Arial;
      background-color: gray;
      margin-top: -8px;
      color: #f2f2f2;
    }

    p {
      margin-top: 17px;
    }

    .container {
      position: absolute;
      left: 35%;
      display: flex;
      overflow: hidden;
      background-color: #333;
      margin-top: 0px;
      width: 30%;
      height: 50px;
      z-index: 1;
    }

    .container a {
      color: #f2f2f2;
      text-align: center;
      text-decoration: none;
      font-size: 25px;

      padding-top: 12.5px;
      padding-bottom: 12.5px;
    }

    .container a:hover {
      background: #ddd;
      color: black;
    }
  </style>
</head>

<body>
  <nav>
    <ul class="container">
      <a href="/profile">Home</a>&nbsp;
      <p>|</p>&nbsp;
      <a href="/leaderboard">Leaderboard</a>&nbsp;
      <p>|</p>&nbsp;
      <a href="/about">About</a>&nbsp;
      <p>|</p>&nbsp;
      <a href="/logout">Log Out</a>
      <!-- <form method="POST" action="/logout">
        <input type="hidden" value="<%=apples%>" name="apple_count" id="apples" />
        <input type="hidden" value="<%=applespers%>" name="applespers" id="applespers" />
        <input type="hidden" value="<%=autoclicker%>" name="autoclicker" id="autoclicker" />
        <input type="hidden" value="<%=wheat%>" name="wheat" id="wheat" />
        <input type="hidden" value="<%=house%>" name="house" id="house" />
        <input type="hidden" value="<%=company%>" name="company" id="company" />
        <input type="submit" />
      </form> -->
    </ul>
  </nav>

  <div id="sketch-holder">
  </div>
  <p>&copy; ClickerAnonymous 2018</p>

  <div id="buttons">
    <form action="/save" method="POST">
      <input type="hidden" value="<%=apples%>" name="apple_count" id="apples" />
      <input type="hidden" value="<%=applespers%>" name="applespers" id="applespers" />
      <input type="hidden" value="<%=autoclicker%>" name="autoclicker" id="autoclicker" />
      <input type="hidden" value="<%=wheat%>" name="wheat" id="wheat" />
      <input type="hidden" value="<%=house%>" name="house" id="house" />
      <input type="hidden" value="<%=company%>" name="company" id="company" />
      <input type="submit" value="Save" />
    </form>
  </div>

  <script>
    var bg;
    var appleImg;
    var handImg;
    var wheatImg;
    var houseImg;
    var barnImg;
    var collected;
    var applesPerS;
    var AC;
    var WH;
    var HO;
    var CO;
    var reqAC;
    var reqWH;
    var reqHO;
    var reqCO;
    var secs = setInterval(dApples, 1000);

    function setup() {
      var canvas = createCanvas(1080, 540);
      handImg = loadImage("https://raw.githubusercontent.com/clickersanonymousCU/clickersanonymousCU.github.io/master/graphics/hand-o-pointer.png");
      wheatImg = loadImage("https://raw.githubusercontent.com/clickersanonymousCU/clickersanonymousCU.github.io/master/graphics/wheat800.png");
      houseImg = loadImage("https://raw.githubusercontent.com/clickersanonymousCU/clickersanonymousCU.github.io/master/graphics/house.png");
      barnImg = loadImage("https://raw.githubusercontent.com/clickersanonymousCU/clickersanonymousCU.github.io/master/graphics/barn%20scaled.png");
      bg = loadImage("https://raw.githubusercontent.com/clickersanonymousCU/clickersanonymousCU.github.io/master/graphics/BG.jpg");
      canvas.parent('sketch-holder');
      collected = document.getElementById("apples");
      AC = document.getElementById("autoclicker");
      WH = document.getElementById("wheat");
      HO = document.getElementById("house");
      CO = document.getElementById("company");
      applesPerS = document.getElementById("applespers")
      reqAC = 10;
      reqWH = 50;
      reqHO = 100;
      reqCO = 1000;
      scene = ['menu', 'game'];
      scene['menu'] = true;
    }

    function canvasProperties() {
      background(bg);
    }


    function draw() {
      if (scene['menu'] == true) {
        cursor(HAND);
        canvasProperties();
        textSize(60);
        fill(255);
        textAlign(CENTER);
        text("Get 'em Apples!", width / 2, height / 2);
        textSize(15);
        text("Click to start.", width / 2, (height / 5) * 4);
        if (mouseIsPressed) {
          clear();
          scene['game'] = true;
          cursor(ARROW);
        }
      }
      if (scene['game'] == true) {
        canvasProperties();
        scene['menu'] = false;
        appleImg = createImg("https://raw.githubusercontent.com/clickersanonymousCU/clickersanonymousCU.github.io/master/graphics/Apple2.5_800.png");
        appleImg.size(appleImg.width / 4, appleImg.height / 4);
        //appleImg.position(580, 225);
        appleImg.center();
        appleImg.mousePressed(appleClicked);
        fill(225);
        rect(25, (canvas.height / 7), 300, 100);
        rect(700, (canvas.height / 7), 350, 390);
        //upgrades buttons
        var col = color(25, 23, 200, 50);
        //autoclicker button
        rect(700, (canvas.height / 7) * 2, 350, 80);
        image(handImg, 720, 165, handImg.width / 9, handImg.height / 9);
        ACButton = createButton(abbreviateNumber(reqAC));
        ACButton.style('background-color', col);
        ACButton.size(40, 30);
        ACButton.position(1153, 200);
        ACButton.mousePressed(ACClicked);
        //wheat button
        rect(700, (canvas.height / 7) * 3, 350, 80);
        image(wheatImg, 715, 225, wheatImg.width / 12, wheatImg.height / 12);
        WHButton = createButton(abbreviateNumber(reqWH));
        WHButton.style('background-color', col);
        WHButton.size(40, 30);
        WHButton.position(1153, 280);
        WHButton.mousePressed(WHClicked);
        //house button
        rect(700, (canvas.height / 7) * 4, 350, 80);
        image(houseImg, 710, 320, houseImg.width / 8, houseImg.height / 8);
        HOButton = createButton(abbreviateNumber(reqHO));
        HOButton.style('background-color', col);
        HOButton.size(40, 30);
        HOButton.position(1153, 355);
        HOButton.mousePressed(HOClicked);
        //company button
        rect(700, (canvas.height / 7) * 5, 350, 80);
        image(barnImg, 705, 390, barnImg.width / 12, barnImg.height / 12);
        COButton = createButton(abbreviateNumber(reqCO));
        COButton.style('background-color', col);
        COButton.size(40, 30);
        COButton.position(1153, 434);
        COButton.mousePressed(COClicked);
        textSize(35);
        fill(0);
        textAlign(LEFT);
        text("Collected:", 40, 115);
        var col_val = Number(collected.value)
        text(abbreviateNumber(col_val.toFixed(1)), 235, 115);
        text("Apples/Sec:", 40, 155);
        var pers_val = Number(applesPerS.value);
        text(abbreviateNumber(pers_val.toFixed(1)), 235, 155);
        text("UPGRADES:", 770, 115);
        textSize(10);
        text("APPLIED: AC=            WH=            HO=            CO=            ", 760, 145);
        text(abbreviateNumber(AC.value), 840, 145);
        text(abbreviateNumber(WH.value), 895, 145);
        text(abbreviateNumber(HO.value), 950, 145);
        text(abbreviateNumber(CO.value), 1005, 145);
        textSize(17);
        text("Autoclicker", 800, 170);
        text("Wheat", 800, 250);
        text("House", 800, 325);
        text("Company", 800, 405);
        textSize(8);
        text("Another person has joined you!\nYou now have extra apple gathering power!", 800, 190);
        text("You have learned how to cultivate other kinds of food, \nso you are now capable of supporting a larger group \nof people. You can gather even more apples than before!", 800, 265);
        text("Your population of apple pickers has grown large \nenough to equire more permanant housing. \nYou learn how to build houses! \nYou can gather quite a lot of apples now!", 800, 340);
        text(
          "You and your civilization pick so many apples that you \nhave successfully created an apple juice company! \nPeople around the world come to try your apple juice! \nYou gather so many apples, you don't even know what to do with \nthem anymore! Remember, with great power comes great responsibility.",
          800, 420);
        fill(51);

      }
    }

    function mousePressed() {
      return false;
    }

    function appleClicked() {
      increment = Number(collected.value) + 1
      collected.value = increment.toString();
      console.log("APPLES:" + collected.value);
    }

    function dApples() {
      applesPerS.value = (Number(AC.value) * 0.2) + (Number(WH.value) * 1) + (Number(HO.value) * 8) + (Number(CO.value) * 260);
      collected.value = Number(collected.value) + Number(applesPerS.value);
      console.log("Rate:" + Number(applesPerS.value) + "Value: " + collected.value.toString());
    }

    function ACClicked() {
      if (collected.value >= reqAC) {
        AC.value = Number(AC.value) + 1;
        collected.value = collected.value - reqAC;
      }
      console.log("Autoclicker: " + AC.value);
    }

    function WHClicked() {
      if (collected.value >= reqWH) {
        WH.value = Number(WH.value) + 1;
        collected.value = collected.value - reqWH;
      }
      console.log("wheat count: " + WH.value);
    }

    function HOClicked() {
      if (collected.value >= reqHO) {
        HO.value = Number(HO.value) + 1;
        collected.value = collected.value - reqHO;
      }
      console.log("house count: " + HO.value);
    }

    function COClicked() {
      if (collected.value >= reqHO) {
        CO.value = Number(CO.value) + 1;
        collected.value = collected.value - reqHO;
      }
      console.log("Company count: " + CO.value);
    }

    function abbreviateNumber(value) {
      var newValue = value;
      if (value >= 1000) {
        var suffixes = ["", "k", "m", "b", "t"];
        var suffixNum = Math.floor(("" + value).length / 3);
        var shortValue = '';
        for (var precision = 2; precision >= 1; precision--) {
          shortValue = parseFloat((suffixNum != 0 ? (value / Math.pow(1000, suffixNum)) : value).toPrecision(precision));
          var dotLessShortValue = (shortValue + '').replace(/[^a-zA-Z 0-9]+/g, '');
          if (dotLessShortValue.length <= 2) {
            break;
          }
        }
        if (shortValue % 1 != 0) shortNum = shortValue.toFixed(1);
        newValue = shortValue + suffixes[suffixNum];
      }
      return newValue;
    }
  </script>

</body>

</html>